body {
	margin: 0;
	padding: 0;
	font-family: 'Tauri', sans-serif;
	font-size: 11pt;

	background: #222;
	color: #eee;
}

p { margin: 0; padding: 0; }

h1 {
	display: block;
	text-align: center;
	font-weight: normal;
	padding: 0;
	font-size: 100%;
}

div.listetrains { 
	display: table; 
	width: 100%;
}

div.train {
	display: table-row;
	padding: 1px;
	font-size: 100%;
}

div.train div {
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}

div.train div.col1 { width: 4em; text-align: center; }
div.train div.col2 { font-size: 100%; }
div.train div.col2.approche { font-size: 80%; }
div.train div.col2.texte { font-size: 80%; }

div.train div.col3 { font-size: 100%; }
div.train div.col3 div { font-size: 100%; }

div.train div.col4 {
	width: 2em;
}

span.voie {
	display: inline-block;
	text-align: center;

	letter-spacing: 0px;
	width: 1.2em;
	font-size: 100%;
	border: 1px solid white;
	border-radius: 3px;

	padding-right: 0;
}

div.train div.col3 div.desserte {
	position: relative;
	bottom: 1px;
	font-size: 100%;
	height: 1.4em;
}

div.train div.col2.approche { text-decoration: blink; line-height: 0.9; }
div.train div.col2.texte { line-height: 0.9 }

div.train.delayed { background-color: #fd8; }
div.train.canceled { background-color: #b44; }


span.numero-train, span.retard { color: #679fd2; }

div#otherstation {
	padding: 1em;
	text-align: center;
}

div#disclaimer {
	text-align: center;
}

select {
	background-color: #444;
	border-color: #666;
	border-radius: 3px;
	color: white;
}
